
li {
    display: inline-block;
    float: none;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 12px;
    
    
}

input {
padding: 10px;
font-size: 17px;
margin-left:51px;
margin-top:5px;
background: #f1f1f1;
width: 80%;

}