
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">All</a></li>
          <li role="presentation"><a href="#">Servers</a></li>
          <li role="presentation"><a href="#">Users</a></li>
        </ul>
      </div>
    </div>
    </div>

<div class="container">
    <div class="row">
        <a href="#" class="list-group-item clearfix" *ngFor="let unit of allItems">
        <app-catalog-unit [Unit]="unit"></app-catalog-unit>
        </a>
    </div>
</div>