<div class="container-fluid">
    <div *ngFor="let item of allPizzaItems; index as i; trackBy: trackByFn" style="padding: 2ex;">
        <div class="row">
            <div class="col-sm-6">
                <p style="font-weight: bold;font-size: 20px;">{{item.pizzaName}}</p> <br>
                <p>{{item.pizzaDescription}}</p><br>
                <p style="font-style: italic;">Wahl aus: Small, Ø 28cm, Normal, Ø 32cm oder Family, 46cm x 33cm,Party.
                </p>
                <p style="font-weight: bold;">{{item.pizzaPriceSmall}}€</p>
            </div>
            <div class="col-sm-6">
                <a  *ngIf="!openDetailedWindow(i)" (click)="openCollapsedDetailWindow(i)">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                </a>
                <a *ngIf="openDetailedWindow(i)" (click)="closeDetailWindow(i)">
                    <span class="glyphicon glyphicon-remove pull-right"></span>
                </a>
            

            </div>

        </div>
        <div *ngIf="openDetailedWindow(i)" class="row">

            <div style="background-color: lightgray;" class="col-sm-11">

                <form (ngSubmit)="onSubmit()" #f='ngForm'>
                    <div class="form-group">
                        <span class="pull-left">{{item.pizzaName}}</span>
                        <select id="size" class="form-control center-block" [ngModel]="defaultSize" name="size">
                            <option *ngFor="let pizzaSize of allPizzaSizes;" value=pizzaSize selected="selected">
                                {{pizzaSize}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="pull-left"> Ihre Extras:</span><br>
                        <div *ngFor="let pizzaAddition of allPizzaAdditions | slice:0:show;let i = index">
                            <input type="checkbox" value=pizzaAddition name="pizzaaddition" ngModel />
                            <span> mit {{pizzaAddition.nameOfAddition}}</span> <span>({{pizzaAddition.price}}€)</span><br>
                            <a *ngIf="i==2 && show == 3" (click)="show = allPizzaAdditions.length">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                              </a>
                        </div>
                    </div>

                </form>


                <button class="btn btn-primary " style="align-content: center;position:absolute;
                bottom: 10px;
                left: 50%;
    margin-left: -104.5px;">Total</button>
            </div>
          
        </div>

    </div>
</div>